<?xml version="1.0" encoding="utf-8"?>
<!-- @(#) templates/test/AndroidManifest.xml - PLEASE EDIT ONLY THE ORIGINAL TEMPLATE FILE -->
<!--
     package name must be unique, so
     suffix with ".test", so package loader doesn't ignore us
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:debuggable="false"
    android:versionCode="2"
    android:versionName="2.0"
    package="ca.chaves.familyBrowser.test"
>
    <!--
        We add an application tag here just so that we can indicate that
        this package needs to link against the android.test library,
        which is needed when building test cases.
    -->
    <application
        android:description="@string/app_test_description"
        android:icon="@drawable/icon"
        android:label="@string/app_test_name"
    >
        <uses-library
            android:name="android.test.runner" />
    </application>
    <!--
        This declares that this application uses the instrumentation test runner targeting
        the package of ca.chaves.familyBrowser.  To run the tests use the command:
        "adb shell am instrument -w ca.chaves.familyBrowser.test/android.test.InstrumentationTestRunner"
    -->
    <instrumentation
        android:label="Tests for ca.chaves.familyBrowser"
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="ca.chaves.familyBrowser" />
    <uses-permission
        android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-sdk
        android:minSdkVersion="4" />
</manifest>
